{% extends "base.html" %}
{% load static %}
{% block title %}Pamukkele Üniversitesi{% endblock %}

{% block content %}

<!-- Orta Alan -->
<div class="container-fluid py-4 mt-0">
  <div class="row">
    <!-- Fakülte Verileri -->
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Fakülte Sayısı</p>
                <h5 class="font-weight-bolder">
                  {{ total_faculties }} Fakülte
                </h5>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">2024 Verileri</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                <i class="fas fa-university text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bölüm Verileri -->
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Bölüm Sayısı</p>
                <h5 class="font-weight-bolder">
                  {{ total_departments }} Bölüm
                </h5>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">2024 Verileri</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="fas fa-building text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Öğrenci Verileri -->
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Öğrenci Sayısı</p>
                <h5 class="font-weight-bolder">
                  {{ total_students }} Öğrenci
                </h5>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">2024 Verileri</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                <i class="fas fa-user-graduate text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Öğretmen Verileri -->
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Öğretim Görevlisi</p>
                <h5 class="font-weight-bolder">
                  {{ total_teachers }} Öğretmen
                </h5>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">2024 Verileri</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                <i class="fas fa-chalkboard-teacher text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100 bg-cover" style="background-image: url('{% static "academics/assets/img/index.jpg" %}'); background-size: cover; background-position: center;">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <h6 class="text-capitalize"></h6>
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <canvas height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-lg-5">
      <div class="card card-carousel overflow-hidden h-100 p-0">
        <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
          <div class="carousel-inner border-radius-lg h-100">
            <div class="carousel-item h-100 active" style="background-image: url('{% static "academics/assets/img/anasayfa_1.jpg" %}');
  background-size: cover;">
              <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">

                <h5 class="text-white mb-1">Get started with Argon</h5>
                <p>There’s nothing I really wanted to do in life that I wasn’t able to get good at.</p>
              </div>
            </div>
            <div class="carousel-item h-100" style="background-image: url('{% static "academics/assets/img/anasayfa_2.jpg" %}');
  background-size: cover;">
              <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                <h5 class="text-white mb-1">Faster way to create web pages</h5>
                <p>That’s my skill. I’m not really specifically talented at anything except for the ability to learn.</p>
              </div>
            </div>
            <div class="carousel-item h-100" style="background-image: url('{% static "academics/assets/img/anasayfa_3.jpg" %}');
  background-size: cover;">
              <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
     
                <h5 class="text-white mb-1">Share with us your design tips!</h5>
                <p>Don’t be afraid to be wrong because you can’t learn anything from a compliment.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <h6 class="text-capitalize">Günlük Hareketler</h6>
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <canvas  height="300"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="card">
        <div class="card-header pb-0 p-3">
          <h6 class="mb-0">İşlemler</h6>
        </div>
        <div class="card-body p-3">
          <ul class="list-group">
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-check-bold text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Yoklama Sistemi</h6>
                  <span class="text-xs">Yoklama bilgilerini görüntüleyin</span>
                </div>
              </div>
              <div class="d-flex">
                <a href="{% url 'start-attendance' %}" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-building text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Fakülteler</h6>
                  <span class="text-xs">Fakülteleri görüntüleyin</span>
                </div>
              </div>
              <div class="d-flex">
                <a href="{% url 'faculty-list' %}" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-building text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Bölümler</h6>
                  <span class="text-xs">Bölümleri görüntüleyin</span>
                </div>
              </div>
              <div class="d-flex">
                <a href="{% url 'department-list' %}" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-single-02 text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Profil</h6>
                  <span class="text-xs">Profil bilgilerinizi yönetin</span>
                </div>
              </div>
              <div class="d-flex">
                <a href="" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-single-02 text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Profil</h6>
                  <span class="text-xs">Profil bilgilerinizi yönetin</span>
                </div>
              </div>
              <div class="d-flex">
                <a href="" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</div>

  

{% endblock %}
