{% extends "base.html" %}

{% load static %}

{% block content %}



<div class="container">
    <div class="row justify-content-center mt-10">

        <!-- Öğrenci Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-dark shadow text-center border-radius-lg">
                        <i class="fas fa-user-graduate opacity-10"></i> <!-- Öğrenci Ikonu -->
                    </div>
                </div>
                <div class="card-body pt-0 p-4 text-center">
                    <h6 class="text-center mb-0">Öğrenci Kaydı</h6>
                    <hr class="horizontal dark my-3">
                    <div class="d-flex flex-column gap-3">
                        <!-- Öğrenci Ekle Butonu -->
                        <a href="{% url 'students:student-create' %}" class="btn btn-dark">Öğrenci Ekle</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ders Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-info shadow text-center border-radius-lg">
                        <i class="fas fa-book opacity-10"></i> <!-- Ders Ikonu -->
                    </div>
                </div>
                <div class="card-body pt-0 p-4 text-center">
                    <h6 class="text-center mb-0">Ders</h6>
                    <hr class="horizontal dark my-3">
                    <div class="d-flex flex-column gap-3">
                        <!-- Ders Ekle Butonu -->
                        <a href="{% url 'add-subject' %}" class="btn btn-info">Ders Ekle</a>

                    </div>
                </div>
            </div>
        </div>

                <!-- Öğretmen Card -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-header mx-4 p-3 text-center">
                            <div class="icon icon-shape icon-lg bg-gradient-warning shadow text-center border-radius-lg">
                                <i class="fas fa-chalkboard-teacher opacity-10"></i> <!-- Öğretmen Ikonu -->
                            </div>
                        </div>
                        <div class="card-body pt-0 p-4 text-center">
                            <h6 class="text-center mb-0">Öğretmen Kaydı</h6>
                            <hr class="horizontal dark my-3">
                            <div class="d-flex flex-column gap-3">
                                <!-- Öğretmen Ekle Butonu -->
                                <a href="{% url 'teachers:teacher-create' %}" class="btn btn-warning">Öğretmen Ekle</a>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- Fakülte Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                        <i class="fas fa-university opacity-10"></i> <!-- Fakülte Ikonu -->
                    </div>
                </div>
                <div class="card-body pt-0 p-4 text-center">
                    <h6 class="text-center mb-0">Fakülte</h6>
                    <hr class="horizontal dark my-3">
                    <div class="d-flex flex-column gap-3">
                        <!-- Fakülte Ekle Butonu -->
                        <a href="{% url 'faculty-create' %}" class="btn btn-primary">Fakülte Ekle</a>
                        <!-- Fakülteler Listesi Butonu -->
                        <a href="{% url 'faculty-list' %}" class="btn btn-secondary">Fakülteler Listesi</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bölüm Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-danger shadow text-center border-radius-lg">
                        <i class="fas fa-building opacity-10"></i> <!-- Bölüm Ikonu -->
                    </div>
                </div>
                <div class="card-body pt-0 p-4 text-center">
                    <h6 class="text-center mb-0">Bölüm</h6>
                    <hr class="horizontal dark my-3">
                    <div class="d-flex flex-column gap-3">
                        <!-- Bölüm Ekle Butonu -->
                        <a href="{% url 'department-create' %}" class="btn btn-danger">Bölüm Ekle</a>
                        <!-- Bölümler Listesi Butonu -->
                        <a href="{% url 'department-list' %}" class="btn btn-secondary">Bölümler Listesi</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sınıf Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
                        <i class="fas fa-chalkboard-teacher opacity-10"></i> 
                    </div>
                </div>
                <div class="card-body pt-0 p-4 text-center">
                    <h6 class="text-center mb-0">Sınıflar</h6>
                    <hr class="horizontal dark my-3">
                    <div class="d-flex flex-column gap-3">
                        <!-- Sınıf Ekle Butonu -->
                        <a href="{% url 'class-create' %}" class="btn btn-success">Sınıf Ekle</a>
                        <!-- Sınıflar Listesi Butonu -->
                        <a href="{% url 'class-list' %}" class="btn btn-secondary">Sınıflar Listesi</a>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

{% endblock %}
